<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">UTMA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-4" *ngFor="let item of dataCard">
            <app-card [cardText]="item.cardText" [cardImage]="item.cardImage"></app-card>
            <!--<app-card cardText="HTML"></app-card>-->
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h2>Formulario de Registro</h2>
          <app-form-card (envioCard)="addCard($event)"></app-form-card>
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <h3>COUNTRIES</h3>
      <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-primary position-absolute" style="background-color: #03045e; border-color: antiquewhite;">
            ESPAÑA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #023e8a; border-color: antiquewhite;">
            FRANCIA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #0077b6; border-color: antiquewhite;">
            ALEMANIA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #0096c7; border-color: antiquewhite;">
            ITALIA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #00b4d8; border-color: antiquewhite;">
            REINO UNIDO
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #00afb9; border-color: antiquewhite;">
            MEXICO
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #48cae4; border-color: antiquewhite;">
            USA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #0a9396; border-color: antiquewhite;">
            CANADA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #005f73; border-color: antiquewhite;">
            BRAZIL
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-primary position-relative" style="background-color: #001219; border-color: antiquewhite;">
            ARGENTINA
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          </button>
        </div>
      </div>
  </body>
</html>
<!-- <link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css"> -->

